﻿@model kitapcanavari.Models.Urun

@{
    ViewBag.Title = @kitapcanavari.Resources.lang.Detaylar;
}

<h2>@kitapcanavari.Resources.lang.Detaylar</h2>

<div>
    <h4>@kitapcanavari.Resources.lang.Urun</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @kitapcanavari.Resources.lang.Ad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ad)
        </dd>

        <dt>
            @kitapcanavari.Resources.lang.Detay
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detay)
        </dd>

        <dt>
            @kitapcanavari.Resources.lang.Kategori
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori)
        </dd>

        <dt>
            @kitapcanavari.Resources.lang.Fiyat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiyat)
        </dd>

        <dt>
            @kitapcanavari.Resources.lang.ResimYol
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResimYol)
        </dd>

        <dt>
            @kitapcanavari.Resources.lang.Adet
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(@kitapcanavari.Resources.lang.Duzenle, "Edit", new { id = Model.ID })
</p>
