﻿@{
    ViewBag.Title = "kitapcanavari";
}

<hr />
<div class="row">
    <div class="col-md-3 col-xs-12">
        @RenderPage("~/Views/Home/Kategori.cshtml")
        <hr />
    </div>

    <div class="col-md-9 col-xs-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="http://st3.myideasoft.com/shop/cr/19/myassets/products/078/pr_01_2078.jpg?revision=1453798359 " width="400" height="400" alt="...">
                    <div class="carousel-caption">
                        <h3>HOBBİT</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="http://mcdn01.gittigidiyor.net/24727/tn120/247278438_tn120_0.jpg?1481826990" width="600" height="600" alt="...">
                    <div class="carousel-caption">
                        <h3>STEPHEN KING</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="https://www.harmankitap.com/u/orhunkitap/img/b/t/a/tarihset-1428708158.png" width="600" height="600" alt="...">
                    <div class="carousel-caption">
                        <h3>TÜRKLERİN TARİHİ</h3>
                    </div>
                </div>
            </div>

            <!-- Controls -->
         
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
