﻿@{
    ViewBag.Title = "Kategori";
}

<div class="panel-group" id="accordion">
    <div class="panel panel-default" style="background-color:cornflowerblue">
        <div class="panel-heading" style="background-color:cornflowerblue">
            <h4 class="panel-title">
                <a href="Urunler/SiirKitaplari/1">@kitapcanavari.Resources.lang.SiirKitaplari</a>
            </h4>
        </div>
    </div>
</div>
<div class="panel-group" id="accordion">
    <div class="panel panel-default" style="background-color:cornflowerblue">
        <div class="panel-heading" style="background-color:cornflowerblue">
            <h4 class="panel-title">
                <a href="Urunler/Romanlar/1">@kitapcanavari.Resources.lang.Romanlar</a>
            </h4>
        </div>
    </div>
</div>
<div class="panel-group" id="accordion">
    <div class="panel panel-default" style="background-color:cornflowerblue">
        <div class="panel-heading" style="background-color:cornflowerblue">
            <h4 class="panel-title">
                <a href="Urunler/Tarih/1">@kitapcanavari.Resources.lang.Tarih</a>
            </h4>
        </div>
    </div>
</div>
<div class="panel-group" id="accordion">
    <div class="panel panel-default" style="background-color:cornflowerblue">
        <div class="panel-heading" style="background-color:cornflowerblue">
            <h4 class="panel-title">
                <a href="Urunler/KisiselGelisim/1">@kitapcanavari.Resources.lang.KisiselGelisim</a>
            </h4>
        </div>
    </div>
</div>