﻿@model kitapcanavari.Models.Urun

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Ad) + " - " + @Html.DisplayFor(model => model.Detay);
}

<div class="row text-center">
    <div class="col-md-5">
        <img src="@Html.DisplayFor(model => model.ResimYol)" class="img-responsive" />
    </div>
    <div class="col-md-7">
        <p><h1 class="text-primary"><b>@Html.DisplayFor(model => Model.Ad)</b></h1></p>
        <p><h4>@Html.DisplayFor(model => Model.Detay)</h4></p>
        <p><h4 class="text-success">@Html.DisplayFor(model => Model.Fiyat) TL</h4></p>
        <p><a href="@Url.Action("SepetEkle/" + @Html.DisplayFor(model => model.ID),"Sepet")" class="btn btn-success">Sepete Ekle</a></p>
    </div>
</div>