﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>

    <link rel="shortcut icon" href="~/favicon.ico" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body >
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="navbar-brand">
                    <img src="~/Content/image/kitapppperis.jpg" width="24" height="24" alt="kitapcanavari 2015" />
                    </div>
                    @Html.ActionLink("KitapCanavari", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @using (Html.BeginForm("Arama", "Home", FormMethod.Post, new { @class = "navbar-form navbar-left" }))
                {
                    <div class="form-group">
                        <input name="arama" id="arama" type="text" class="form-control" placeholder="@kitapcanavari.Resources.lang.NeAramistiniz">
                    </div>
                    <button type="submit" class="btn btn-default">@kitapcanavari.Resources.lang.Ara</button>
                }
                <ul class="nav navbar-nav navbar-right">


                    @if (Session["Yetki"] != null)
                    {
                        @Html.Partial("_LoginPartial")
                        List<kitapcanavari.Models.Urun> sepet = Session["sepet"] as List<kitapcanavari.Models.Urun>;
                        int sepet_urun_sayisi = 0;
                        if (sepet != null && sepet.Count > 0)
                        {
                            sepet_urun_sayisi = sepet.Count;
                        }
                        string rutbe = Session["Yetki"] as string;
                        if (rutbe == "Yönetici")
                        {
                            <li>@Html.ActionLink(@kitapcanavari.Resources.lang.AdminPanel, "AdminPanel", "Uyes")</li>
                        }
                        else if (rutbe == "Editör")
                        {
                            <li>@Html.ActionLink(@kitapcanavari.Resources.lang.UrunPaneli, "Index", "Uruns")</li>
                        }
                        <li>@Html.ActionLink(Session["Username"].ToString(), "Profil", "Uyes")</li>
                        <li><a href="/Sepet">@kitapcanavari.Resources.lang.Sepet <span class="badge">@sepet_urun_sayisi</span></a></li>
                        <li>@Html.ActionLink(@kitapcanavari.Resources.lang.CikisYap, "CikisYap", "Uyes")</li>
                    }
                    else
                    {
                        @Html.Partial("_LoginPartial")
                        <li>@Html.ActionLink(@kitapcanavari.Resources.lang.GirisYap, "GirisYap", "Uyes")</li>
                        <li>@Html.ActionLink(@kitapcanavari.Resources.lang.UyeOl, "UyeOl", "Uyes")</li>
                    }


                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - kitapcanavari <a href="@Url.Action("Profil","Uyes")">@Session["username"]</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
    
    <style type ="text/css">
        body {
            background-image: url(http://ilgiliforum.com/resim/2012/07/138/67649_hd_masaustu_arkaplan_wallpaper_duvar_kagitlari_resimleri_2.jpg);
        }
    </style>
</body>

</html>
