﻿@using Microsoft.AspNet.Identity
<li>@Html.ActionLink("English","ChangeCulture","Home",new { lang ="en",returnurl =this.Request.RawUrl},null)</li>
<li>@Html.ActionLink("Türkçe", "ChangeCulture", "Home", new { lang = "tr", returnurl = this.Request.RawUrl }, null)</li>