﻿@model kitapcanavari.Models.Uye

@{
    ViewBag.Title = @kitapcanavari.Resources.lang.Detaylar;
}

<h2>@kitapcanavari.Resources.lang.Detaylar</h2>

<div>
    <h4>@kitapcanavari.Resources.lang.Uye</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @kitapcanavari.Resources.lang.Ad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ad)
        </dd>

        <dt>
            @kitapcanavari.Resources.lang.Soyad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soyad)
        </dd>

        <dt>
            @kitapcanavari.Resources.lang.Eposta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eposta)
        </dd>

        <dt>
            @kitapcanavari.Resources.lang.Sifre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sifre)
        </dd>

        <dt>
            @kitapcanavari.Resources.lang.Rutbe
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rutbe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(@kitapcanavari.Resources.lang.Duzenle, "Edit", new { id = Model.ID })
</p>
